.catalogue-item {

    align-content: center;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    margin: 12px;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    margin-bottom: 40px;
    padding: 10px;
}

img {
    aspect-ratio: 1/1;
    height: 40%;
    object-fit: cover;
}